body{
    background: rgb(85,166,221);
    background: linear-gradient(90deg, rgba(85,166,221,1) 0%, rgba(135,194,233,1) 18%, rgba(163,210,241,1) 63%, rgba(206,235,255,1) 100%);
}

.container {
    padding: 15px;
}

.row {
    padding: 15px;
}

.logo {
    text-align: center;
    margin: 10px 40px;
    font-family: "Museo";
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 10px #ffa, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #007bff;, 0 0 25px #fdff66, 0 0 30px #007bff;, 0 0 35px #007bff;, 0 0 40px;
}

