.calendar-grid {
    margin: 1em auto;
}

.calendar-grid form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event {
    border: 2px solid #404040;
    border-radius: 5px;
    background-color: pink;
    padding: 1em;
    margin: 1.5em 0;
    box-shadow: 8px 8px 12px #404040;
}

.event button {
    float: right;
    background-color: transparent;
    border-color: transparent;
}

.event button:hover {
    color: grey;
}

#new-event {
    background-color: white;

}

.button-prev {
    margin-right: 10px;
    font-size: 30px;
    padding-left: 0px;
}

.button-next {
    margin-left: 10px;
    font-size: 30px;
    padding-right: 0px;
}

.calendar-nav {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar-nav-date input {
    margin-left: 2.8em;
    border: 2px solid black;
    border-radius: 5px;
}

.nav-text {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-group {
    border-radius: 5px;
    box-shadow: 1px 1px 6px #404040;
}
.btn-group button {
    width: 6em;
    font-size: 1.2em;
    letter-spacing: 1px;
}

p.category {
    font-style: italic;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

