.card {
    margin: 15px ;
    box-shadow: 8px 8px 12px #404040;
    border: 2px solid #404040;
    border-radius: 5px;
}

.linethrough {
    text-decoration: line-through;
 }

 .table button {
    background-color: transparent;
    border-color: transparent;
 }

 .card-header {
    text-transform: uppercase;
    font-family: 'Signika', sans-serif;
    font-size: 22px;
 }

 .card-header button {
     background-color: transparent;
     border-color: transparent;
 }

.card-header button:hover {
    color: grey;
}

.card-text {
    display: inline-block;
    word-break: break-word;
}

 .table td, .table th {
    font-family: 'Signika', sans-serif;
 }

.text {
    font-size: 24px;
    margin-top: 20px;
}