.card {
    margin: 15px ;
    box-shadow: 10px 10px 5px #404040;
}

.linethrough {
    text-decoration: line-through;
 }

 .table button {
    background-color: transparent;
    border-color: transparent;
 }

 .card-header {
    text-transform: uppercase;
    font-family: 'Signika', sans-serif;
    font-size: 22px;
 }

 .card-header button {
     background-color: transparent;
     border-color: transparent;
 }

 .table td, .table th {
    font-family: 'Signika', sans-serif;
 }


 .pink {
    background-color: #fcc0f2 !important;
 }

.green {
    background-color: #c0fcc1 !important;
}

.blue {
    background-color: #bfefff !important;
}

.red {
    background-color: #ff7a7a !important;
}

.yellow {
    background-color: #faec9e !important;
}

.purple {
    background-color: #e0a3ff !important;
}

.orange {
    background-color: #ffad8a !important;
}
