<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calendar</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/colors.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/lists.css">
    <link rel="stylesheet" href="/css/event.css">
</head>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand logo" href="/">DoToo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/calendar">Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/todolist">Todo-lists<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" th:if="${loggedinuser == null}">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item" th:if="${loggedinuser != null}">
                    <a class="nav-link" href="/signout">Sign out</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<body>
<p th:text="'Week: '+${week}"></p>
<div class="calendar-grid col-md-6">
    <form action="#" th:action="@{/changeview}" th:method="POST">
        <div class="calendar-nav">
            <button type="submit" class="btn" th:name="nav" value="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </button>
            <p th:text="'Week: '+${week}"></p>
            <button type="submit" class="btn" th:name="nav" value="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
        </div>
        <div class="custom-control">
            <!--<input type="radio" class="custom-control-radio" th:name="view" th:value="day" th:field="*{option}" th:text="Day">
            <input type="radio" class="custom-control-radio" th:name="view" th:value="week" th:field="*{option}" checked="checked" th:text="Week">
            <input type="radio" class="custom-control-radio" th:name="view" th:value="month" th:field="*{option}" th:text="Year">-->
            <button type="submit" th:name="view" value="day">Day</button>
            <button type="submit" th:name="view" value="week">Week</button>
            <button type="submit" th:name="view" value="month">Month</button>
        </div>
    </form>
    <div class="events">
        <div class="event" th:each="event : ${events}" th:classappend="${event.color}">
            <h2 th:text="${event.title}"></h2>
            <p th:text="${#calendars.day(event.startDate)}+'/'+${#calendars.month(event.startDate)}+'/'+${#calendars.year(event.startDate)}+' kl. '+${#calendars.hour(event.startDate)}+':'+${#calendars.minute(event.startDate)}"></p>
            <p th:text="${#calendars.day(event.endDate)}+'/'+${#calendars.month(event.endDate)}+'/'+${#calendars.year(event.endDate)}+' kl. '+${#calendars.hour(event.endDate)}+':'+${#calendars.minute(event.endDate)}"></p>
        </div>
    </div>
</div>

<div id="new-event" class="container col-md-6">
    <form action="#" method="POST" th:action="@{/makenewevent}">
        <input type="text" class="form-control" th:name="title" placeholder="Event title" required>
        <input type="datetime-local" id="start-date"
               th:name="startDate"
               min="2018-06-07T00:00" max="2030-06-14T00:00">
        <!-- value="2020-10-29T19:30" th:value="${#dates.format(#dates.createNow(), 'YYYY-MM-DD hh:mm')}"-->
        <input type="datetime-local" id="end-date"
               th:name="endDate"
               min="2018-06-07T00:00" max="2030-06-14T00:00">
        <!-- value="2020-10-29T20:30" -->
        <input type="text" class="form-control" th:name="category" placeholder="Category" required>
        <select id="colors" th:name="color">
            <option value="yellow"> Yellow</option>
            <option value="red"> Red</option>
            <option value="green"> Green</option>
            <option value="blue"> Blue</option>
            <option value="pink"> Pink</option>
            <option value="purple"> Purple</option>
            <option value="orange"> Orange</option>
        </select>
        <button type="submit" class="btn btn-primary" id="button-confirm">Confirm</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/event.js"></script>

</body>
</html>
