<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TodoList</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 well" th:each="todolist : ${todolists}">
            <table class="table">
                <thead>
                <tr>
                    <td colspan="4" th:text="${todolist.name}"></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${todolist.items}">
                    <td class="col-1"><input type="checkbox" th:checked="${item.checked}"></td>
                    <td th:text="${item.description}"></td>
                </tr>
                </tbody>
            </table>
            <form action="#" method="POST" th:action="@{/additem(listId=${todolist.id})}">
                <div class="input-group">
                    <input type="text" class="form-control" th:name="description">
                    <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Add item</button>
                </span>
                </div>
            </form>
            <!--
            <form class="empty-tditem" th:action="@{/additem}" method="POST">
                <div class="form-group">
                    <input type="text" th:name="description" class="form-control">
                    <input type="submit" class="form-control btn btn-primary" value="Add item">

                </div>
            </form>
            -->
        </div>
    </div>
</div>

<form action = "/newtodolist" method="post">
    <button type="submit" class="btn btn-primary">New todo list</button>
</form>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
</body>
</html>